VITE_API_BASE_URL=http://localhost:8000/api
VITE_API_SERVICE_PTK=http://localhost:8001/api
VITE_API_SERVICE_WEBSEKOLAH=http://localhost:8002/api
VITE_API_SERVICE_SCHOOL=http://localhost:8003/api
VITE_API_SERVICE_PPDB=http://localhost:8004/api
VITE_API_SERVICE_BERANI_CERDAS=http://localhost:8005/api
VITE_API_SERVICE_OPENDATA=http://localhost:8006/api
VITE_API_MESSAGE_URL=http://localhost:8007/api
VITE_API_SERVICE_REKAP=http://localhost:7777/api
